<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881178665884-725a39h0fe8ilkaqsdqia8ujgi9sprog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881178665884-725a39h0fe8ilkaqsdqia8ujgi9sprog</string>
	<key>API_KEY</key>
	<string>AIzaSyARcJwfHBkUl84WSlMIAGTL5dwJn-fmRnU</string>
	<key>GCM_SENDER_ID</key>
	<string>881178665884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rakwa.rakwa</string>
	<key>PROJECT_ID</key>
	<string>rakwa-331713</string>
	<key>STORAGE_BUCKET</key>
	<string>rakwa-331713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881178665884:ios:34de5ddc480fe556e59e59</string>
	<key>DATABASE_URL</key>
	<string>https://rakwa-331713-default-rtdb.firebaseio.com</string>
</dict>
</plist>